.none{
	display: none;
}
.hexagons-div{
	width: 280px;
	animation-name: load ;
	
	@keyframes load {
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
	
	.hexagon {
		position: relative;
		background-color: #04c2c9;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 150px;
		height: 140px;
		clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
		padding-top: 8px;
		-webkit-animation: flip-diagonal-1-tr 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
	        animation: flip-diagonal-1-tr 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
		
	  }
	  @-webkit-keyframes flip-diagonal-1-tr {
		0% {
		  -webkit-transform: rotate3d(1, 1, 0, 0deg);
				  transform: rotate3d(1, 1, 0, 0deg);
				  opacity: 1;
		}
		100% {
		  -webkit-transform: rotate3d(1, 1, 0, 180deg);
				  transform: rotate3d(1, 1, 0, 180deg);
				  opacity: 0;
		}
	  }
	  @keyframes flip-diagonal-1-tr {
		0% {
		  -webkit-transform: rotate3d(1, 1, 0, 0deg);
				  transform: rotate3d(1, 1, 0, 0deg);
				  opacity: 1;
		}
		100% {
		  -webkit-transform: rotate3d(1, 1, 0, 180deg);
				  transform: rotate3d(1, 1, 0, 180deg);
				  opacity: 0;
		}
	  }
	.hexagon-picture{
		color: snow;
		font-size: 60px;
	}
	.hexagon-h2{
		text-align: center;
		font-family: "Coda Caption", sans-serif;
		color: #616161;
		padding: 10px 0;
		animation-name: hexagon-h2;
		animation-duration: 1s;
		opacity: 0;
		animation-fill-mode: forwards;
	}
	@keyframes hexagon-h2 {
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
	.hexagon-p{
		text-align: center;
		padding: 10px 20px;
		color: #616161;
		animation-name: hexagon-p;
		animation-duration: 1s;
		opacity: 0;
		animation-fill-mode: forwards;
	}
	@keyframes hexagon-p {
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
}




