.none{
	display: none;
}
.hexagons-div{
	width: 280px;
	// background-color: #18123f;
	animation-name: load ;
	
	@keyframes load {
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
	
	.hexagon {
		position: relative;
		width: 130px; 
		height: 75.06px;
		background-color: #64C7CC;
		margin: 37.53px auto;
		rotate: (30deg);
		padding-top: 8px;
		-webkit-animation: rotate-vert-center 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-vert-center 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	  }
	  @-webkit-keyframes rotate-vert-center {
		0% {
		  -webkit-transform: rotateY(0);
				  transform: rotateY(0);
		}
		100% {
		  -webkit-transform: rotateY(360deg);
				  transform: rotateY(360deg);
		}
	  }
	  @keyframes rotate-vert-center {
		0% {
		  -webkit-transform: rotateY(0);
				  transform: rotateY(0);
				  opacity: 0;
		}
		100% {
		  -webkit-transform: rotateY(360deg);
				  transform: rotateY(360deg);
				  opacity: 1;
		}
	  }
	  
	  .hexagon:before,
	  .hexagon:after {
		content: "";
		position: absolute;
		width: 0;
		border-left: 65px solid transparent;
		border-right: 65px solid transparent;
	  }
	  
	  .hexagon:before {
		bottom: 100%;
		border-bottom: 37.53px solid #64C7CC;
	  }
	  
	  .hexagon:after {
		top: 100%;
		width: 0;
		border-top: 37.53px solid #64C7CC;
	  }
	.hexagon-picture{
		color: snow;
		font-size: 50px;
		text-align: center;
		rotate: (-30deg);
	}
	.hexagon-h2{
		text-align: center;
		font-family: "Coda Caption", sans-serif;
		color: #616161;
		padding: 10px 0;
		animation-name: hexagon-h2;
		animation-duration: 1s;
		opacity: 0;
		animation-fill-mode: forwards;
	}
	@keyframes hexagon-h2 {
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
	.hexagon-p{
		text-align: center;
		padding: 10px 20px;
		color: #616161;
		animation-name: hexagon-p;
		animation-duration: 1s;
		opacity: 0;
		animation-fill-mode: forwards;
	}
	@keyframes hexagon-p {
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
}




