.contact {
    max-width: 100%;
    height: 90vh;
    opacity: 0;
    transition: 0.6s;
    
    
    
    
    .icons{
        width: 100%;
        height: 10vh;
        background-color: #252934;
        padding-left: 5px;
        .socialMedia {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 20px;

        .social {
            display: inline-block;
        }

        .social a {
            display: block;
            width: 48px;
            height: 48px;
            text-align: center;
            color:
                #000;
            // background:
            //     #252934;
            // border: 1px solid #ccc;
            border-radius: 24px;
            // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
        }

        .social a:hover {
            color:
                #fff;
            transition: 0.5s;
        }

        .social svg {
            margin-top: 7px;
            width: 32px;
            height: 32px;
        }

        .email a:hover {
            background:
                #5bc7ff;
        }

        .facebook a:hover {
            background:
                #3b5998;
        }

        .instagram a:hover {
            background:
                #cb3640;
        }

        .twitter a:hover {
            background:
                #00acee;
        }

        .vk a:hover {
            background:
                #4a76a8;
        }
    }
    }
    .contact-all {
        height: 90vh;
        padding-top: 50px;
        // clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
        background-color: #252934;
        // animation-name: ;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    
        @keyframes clip-path-anim {
            0% {
                clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
            }
    
            100% {
                clip-path: polygon(50% 10%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
            }
        }
    
        .contact-h2 {
            width: 225px;
            padding: 16px;
            font-size: 40px;
            color: snow;
            // animation-name: contact-h2;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            position: relative;
            opacity: 0;
            border-bottom: 1px solid snow;
            margin: 20px 0;
            margin-bottom: 50px;
        }
    
        @keyframes contact-h2 {
            0% {
                opacity: 0;
                left: 20%;
            }
    
            100% {
                opacity: 1;
                left: calc(50% - 110px);
            }
        }
    
        .contact-p {
            text-align: center;
            margin-left: 10px;
            color: #04c2c9;
            font-size: 18px;
        }
    
        .contact-inputs {
            display: none;
            max-width: 400px;
            height: 20vh;
            background-color: #252934;
            margin: 0 auto;
            border: none;
            margin-top: 50px;
            outline: none;
            -webkit-animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                @keyframes scale-up-center {
                    0% {
                      -webkit-transform: scale(0.7);
                              transform: scale(0.7);
                    }
                    100% {
                      -webkit-transform: scale(1);
                              transform: scale(1);
                    }
                  }
                  
    
            .contact-input {
                width: 100%;
                height: 40px;
                margin: 2px;
                padding: 10px;
                background-color: #1e242c;
                color: snow;
                border: none;
                font-size: 16px;
                outline: none;
            }
    
            .contact-sms {
                width: 100%;
                height: 100%;
                background-color: #1e242c;
                color: snow;
                margin: 2px;
                border: none;
                font-size: 16px;
                padding: 10px;
                outline: none;
            }
    
            .contact-btn {
    
                font-family: Roboto, sans-serif;
                font-weight: 0;
                font-size: 14px;
                color: #fff;
                background-color: #1e242c;
                padding: 10px 30px;
                border: solid #04c2c9 2px;
                box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
                border-radius: 50px;
                transition: 995ms;
                transform: translateY(0);
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                margin: 10px auto;
            }
    
            .contact-btn:hover {
    
                transition: 995ms;
                padding: 10px 50px;
                transform: translateY(-0px);
                background-color: #04c2c9;
                color: snow;
            }
    
    
        }
    
    }
}

