
.header {
    width: 100%;
    height: 100vh;
    // margin: auto;
    padding-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, #64C7CC 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, #1b242f 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    position: sticky;
    top: 0;
    z-index: -1;
   
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.header-h2-all{
    text-align: center;
    font-variant: small-caps;
    font-size: 35px;
    position: relative;
    top: 35%;

    .header-h2{
        font-family: "Raleway";
        font-weight: 100;
        
        
        .header-p{
            color: #E31b6D;
            margin-left: 10px;
            
        }
    }
    .header-btn{
        width: 205px;
        height: 50px;
        display: inline;
        margin-top: 10px;
        font-size: 18px;
        background: none;
        border: 1px solid black;
        cursor: pointer;
        display: inline-flex;
        padding: 13px 30px;


        .pp{
            margin-left: 10px;
        }
    }
    .header-btn:hover{
        transition: 0.6s;
        background-color: #E31b6D;
        color: snow;
        border: none;
        
        .pp{
            color: snow;
            transition: 0.6s;
            rotate: (90deg);
        }
    }
    // button::before {
    //     content: "View my work \2192";
    //   }
      
    //   button:hover::before {
    //     content: "View my work \2193";
    //   }
    
    
}
@media (max-width: 531px) {
    .header-h2-all {
        top: 20%;
    }
}

// .wave {
//     background: rgb(255 255 255 / 25%);
//     border-radius: 1000% 1000% 0 0;
//     position: absolute;
//     width: 200%;
//     height: 12em;
//     animation: wave 10s -3s linear infinite;
//     transform: translate3d(0, 0, 0);
//     opacity: 0.8;
//     bottom: 0;
//     left: 0;
//     z-index: -1;
// }

// .wave:nth-of-type(2) {
//     bottom: -1.25em;
//     animation: wave 18s linear reverse infinite;
//     opacity: 0.8;
// }

// .wave:nth-of-type(3) {
//     bottom: -2.5em;
//     animation: wave 20s -1s reverse infinite;
//     opacity: 0.9;
// }

// @keyframes wave {
//     2% {
//         transform: translateX(1);
//     }

//     25% {
//         transform: translateX(-25%);
//     }

//     50% {
//         transform: translateX(-50%);
//     }

//     75% {
//         transform: translateX(-25%);
//     }

//     100% {
//         transform: translateX(1);
//     }

    
// }
