@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&display=swap');
@import '../../../assets/style/mixin.scss';

.projects {
    max-width: 1600px;
    background-color: rgb(240, 240, 240);
    padding: 50px 0;
    margin: 0 auto;

    .projects-h2 {
        width: 240px;
        padding: 16px;
        font-size: 40px;
        color: rgb(64, 61, 61);
        // animation-name: project-h2;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        position: relative;
        opacity: 0;
        border-bottom: 1px solid gray;
        margin: 20px 0;
        margin-bottom: 100px;

    }

    @keyframes project-h2 {
        0% {
            opacity: 0;
            left: 20%;
        }

        100% {
            opacity: 1;
            left: calc(50% - 115px);
        }
    }

    .project {
        min-height: 30vh;
        display: flex;
        justify-content: center;
        transition: 1s;
        

        .anim{
            -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

            @-webkit-keyframes slide-in-right {
                0% {
                    -webkit-transform: translateX(1000px);
                    transform: translateX(1000px);
                    opacity: 0;
                }

                100% {
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
                    opacity: 1;
                }
            }

            @keyframes slide-in-right {
                0% {
                    -webkit-transform: translateX(1000px);
                    transform: translateX(1000px);
                    opacity: 0;
                }

                100% {
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }

        .page-1{
            width: 39vw;
            height: 25vw;
            position: relative;
            // left: 2%;
            background-position: center 100%;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: 2%;
            // box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
            opacity: 0;
        }
        @media (max-width: 531px) {
            .page-1{
                width: 65vw;
                height: 45vw;
            }
        }



        .project-text {
            // margin-left: 6%;
            opacity: 0;
        }

        .anim-p {
            -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.8s both;
            animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.8s both;

            @-webkit-keyframes text-focus-in {
                0% {
                    -webkit-filter: blur(12px);
                    filter: blur(12px);
                    opacity: 0;
                }

                100% {
                    -webkit-filter: blur(0px);
                    filter: blur(0px);
                    opacity: 1;
                }
            }

            @keyframes text-focus-in {
                0% {
                    -webkit-filter: blur(12px);
                    filter: blur(12px);
                    opacity: 0;
                }

                100% {
                    -webkit-filter: blur(0px);
                    filter: blur(0px);
                    opacity: 1;
                }
            }
        }

        .project-text {
            width: 42vw;
            height: 25vw;
            margin-top: 2%;
            opacity: 0;
            text-align: center;
            

            .project-text-h2 {
                margin-top: 2vw;
                font-size: 3vw;
                font-weight: 200;

            }

            .project-text-p {
                font-size: 2vw;
                font-family: 'Fjalla One', sans-serif;
                margin-top: 4vw;
            }
        }
        @media (max-width: 531px) {
            .project-text {
                display: none;
            }
        }

    }

}
