@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda');


.about {
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px;
    background-color: snow;
    

    .about-h2 {
        width: 180px;
        padding: 16px;
        font-size: 40px;
        color: rgb(64, 61, 61);
        // animation-name: about-h2;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        position: relative;
        opacity: 0;
        border-bottom: 1px solid gray;
        margin: 20px 0 150px 0;

    }

    @keyframes about-h2 {
        0% {
            opacity: 0;
            left: 20%;
        }

        100% {
            opacity: 1;
            left: calc(50% - 90px);
        }
    }

    

    .about-2 {
        background-color: #04c2c9;
        display: flex;
        justify-content: center;
        animation: 5s show ease;

        @keyframes show {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        
    }
    .about-part2{
        width: 100%;
        
        .about-hexagons {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 50px;
            // margin: 0 auto;
            
        }
        .skills{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 50px;
            margin-top: 50px;

            .skill-anim{
                -webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            }
            @-webkit-keyframes scale-up-center {
                0% {
                  -webkit-transform: scale(0.5);
                          transform: scale(0.5);
                }
                100% {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                }
              }
              @keyframes scale-up-center {
                0% {
                  -webkit-transform: scale(0.5);
                          transform: scale(0.5);
                }
                100% {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                }
              }
            .skill {
                width: 14vw;
                height: 14vw;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 5px;
                
            }
            
              
        }
    }
}
